WebApp/App_WebReferences/ADTA04/PatientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://service.soap.mcare.bluecap.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://service.soap.mcare.bluecap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Patient Service for patient registration and update</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.soap.mcare.bluecap.com">
      <xs:element name="updatePatient">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatePatientResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerPatient">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerPatientResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updatePatientRequest">
    <wsdl:part name="parameters" element="ns:updatePatient" />
  </wsdl:message>
  <wsdl:message name="updatePatientResponse">
    <wsdl:part name="parameters" element="ns:updatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="registerPatientRequest">
    <wsdl:part name="parameters" element="ns:registerPatient" />
  </wsdl:message>
  <wsdl:message name="registerPatientResponse">
    <wsdl:part name="parameters" element="ns:registerPatientResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientServicePortType">
    <wsdl:operation name="updatePatient">
      <wsdl:input wsaw:Action="urn:updatePatient" message="ns:updatePatientRequest" />
      <wsdl:output wsaw:Action="urn:updatePatientResponse" message="ns:updatePatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerPatient">
      <wsdl:input wsaw:Action="urn:registerPatient" message="ns:registerPatientRequest" />
      <wsdl:output wsaw:Action="urn:registerPatientResponse" message="ns:registerPatientResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientServiceSoap11Binding" type="ns:PatientServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updatePatient">
      <soap:operation soapAction="urn:updatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerPatient">
      <soap:operation soapAction="urn:registerPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientServiceSoap12Binding" type="ns:PatientServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updatePatient">
      <soap12:operation soapAction="urn:updatePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerPatient">
      <soap12:operation soapAction="urn:registerPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientServiceHttpBinding" type="ns:PatientServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="updatePatient">
      <http:operation location="updatePatient" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerPatient">
      <http:operation location="registerPatient" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientService">
    <wsdl:port name="PatientServiceHttpSoap11Endpoint" binding="ns:PatientServiceSoap11Binding">
      <soap:address location="http://122.181.150.62:2862/mCareService/services/PatientService.PatientServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="PatientServiceHttpSoap12Endpoint" binding="ns:PatientServiceSoap12Binding">
      <soap12:address location="http://122.181.150.62:2862/mCareService/services/PatientService.PatientServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="PatientServiceHttpEndpoint" binding="ns:PatientServiceHttpBinding">
      <http:address location="http://122.181.150.62:2862/mCareService/services/PatientService.PatientServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>